h5 {
    color: green;
}
.card{
    width: 20rem;
}

body{
    background: rgba(44, 62, 80, .8);
    font-family: 'Oswald', sans-serif;
}
#wrapper{
    margin-top: 10% !important;
}
#content{
    background: beige;
    padding: 25px;
}
#content > h2{
    font-size:18px;
    text-align: center;
    padding-top: 0;
}
.t10{
    margin-top:10px;
}
.t20{
    margin-top:20px;
}
footer{
    margin-top: 20px;
    color: white;
}